<form action="/" method="post">
    <button type="submit" name="submit" value="submit">Click</button>
</form>
<h1>Following data represents frauds vs amounts</h1>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
        width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zxvvt/embed/charts?id=650d8eb7-5c71-4a18-8e78-68b6f2c7fd15&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
<h1>Count of frauds for intervals of amounts</h1>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
        width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zxvvt/embed/charts?id=650d8ffa-2343-43b7-8196-79f8c8a7fd54&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
<h1>Total number of frauds</h1>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
        width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zxvvt/embed/charts?id=650d90f6-730b-4c12-878d-6b7808e4b43a&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>
<h1>Mean of class on amount</h1>
<iframe style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
        width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zxvvt/embed/charts?id=650d9257-730b-4ef5-8a8e-6b7808e7d96b&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>